/*  ESTILOS PARA FLOATING BUTTON (GRANDE Y CHICO) */

.roundbtn-big {
    background-color: #007bff;
    position: fixed;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.roundbtn {
    position: fixed;
    bottom: 10vh;
    right: 5vh;
    width: 52px;
    height: 52px;
    padding: 13px 13px;
    background-color: #3F51B5;
    color: #fff;
    border-color: transparent;
    border-radius: 25px;
    font-size: 11px;
    text-align: center;
    vertical-align: center;
}
